.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    border-bottom: 1px solid;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.65);
    background-color: darkgreen;
}

.title-bar > *,
.stats > * {
    /* Space stats and title-bar with .header gap and padding instead */
    margin: 0;
}

.title-bar {
    text-align: center;
    font-family: 'URW Gothic', sans-serif;
}
  
.stats {
    display: flex;
    flex-direction: row;
}

.stats > * {
    flex-grow: 1;
}