.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    justify-content: center;
    align-items: center;

    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,0.75);
	font-family: 'Lobster', cursive;
    color: white;

	background-color: #0a7719;
	border: 1px solid #022206;
	box-shadow:
		inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
		inset 0 0 6px #086314, /* inner glow */
		inset 0 80px 80px -40px #03360a; /* gradient */
}

.title-bar > *,
.stats > * {
    /* Space stats and title-bar with .header gap and padding instead */
    margin: 0;
}

.title-bar {
    text-align: center;
    font-family: 'URW Gothic', sans-serif;
    font-size: 1.5rem;
}

  
.stats {
    display: flex;
    flex-direction: row;

    font-weight: bold;
}

.stats > * {
    flex-grow: 1;
}

.stats p {
  padding-inline: 2rem;
}