:root {
  --brown: #753022;
  --cerise: #e5398d;
  --blue: #20407c;
  --green: #70bd44;
  --yellow: #f7e623;
  --black: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: stretch;
  justify-items: center;
  perspective: 100%;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #DEDEDE;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  text-align: center;
}

.card-inner {
  text-align: center;
  position: relative;
  transition: transform 1s;
  height: '100%;'
}

.card-inner .card-back {
  transform: rotateY(180deg);
}

.is-flipped {
  transform: rotateY(180deg)
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
}

.card-face .card-back {
  background-color: green;
  transform: rotateY(180deg);
}

/* Header Styles */

.title-bar, .stats {
  padding: 0 1rem;
}

.stats > * {
  display: inline-block;
  margin-right: 2rem;
}